<% layout('layouts/boilerplate') %>

    <section class="underheader">
        <section class="userinfo">
            <div class="sect brd">
                <div class="sect-left">
                    <img src="/img/delivery.png" alt="logo">
                </div>
                <div class="sect-right">
                    <div class="sect-title">
                        FREE SHIPPING
                    </div>
                    <div class="sect-desc">
                        For orders over $50
                    </div>
                </div>
            </div>
            <div class="sect brd">
                <div class="sect-left">
                    <img src="/img/support.png" alt="logo">
                </div>
                <div class="sect-right">
                    <div class="sect-title">
                        CLIENT SUPPORT
                    </div>
                    <div class="sect-desc">
                        Avaiable 24/7
                    </div>
                </div>
            </div>
            <div class="sect">
                <div class="sect-left">
                    <img src="/img/return.png" alt="logo">
                </div>
                <div class="sect-right">
                    <div class="sect-title">
                        RETURNS
                    </div>
                    <div class="sect-desc">
                        One month free
                    </div>
                </div>
            </div>
        </section>

        <p>
            <%= data %>
                <% console.log(data) %>
        </p>
        <article class="gendermain">
            <section class="gender-men">
                <p class="gender-p"><a href="/categories">MEN</a></p>
            </section>
            <section class="gender-women">
                <p class="gender-p"><a href="/categories">WOMEN</a></p>
            </section>
            <section class="gender-kids">
                <p class="gender-p"><a href="/categories">KIDS</a></p>
            </section>
        </article>
    </section>
    <main>
        <section class="popular">
            <div class="pop-title">
                <h2>TOP ITEMS</h2>
            </div>
            <div class="top-items">
                <ul>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-onsale">23,99USD</span>
                                    <span class="price-normal">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-onsale">23,99USD</span>
                                    <span class="price-normal">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-onsale">23,99USD</span>
                                    <span class="price-normal">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-onsale">23,99USD</span>
                                    <span class="price-normal">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-onsale">23,99USD</span>
                                    <span class="price-normal">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-onsale">23,99USD</span>
                                    <span class="price-normal">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-onsale">23,99USD</span>
                                    <span class="price-normal">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-onsale">23,99USD</span>
                                    <span class="price-normal">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-price">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-price">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-price">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/views/item.html">
                            <div class="top-item">
                                <div class="item-bg">
                                    <img src="/img/img-ph.png" alt="">
                                </div>
                                <div class="item-title">
                                    <span>Sweater</span>
                                </div>
                                <div class="item-price">
                                    <span class="price-price">39,99USD</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="deal">
            <div class="deal-left">
                <img src="/img/img-ph.png" alt="img">
            </div>
            <div class="deal-right">
                <div class="deal-title">
                    Deal Of The Week
                </div>
                <div class="deal-desc">
                    <div class="desc-desc">
                        <h3 class="desc-desc-title">
                            Koszuleczka pipeczka
                        </h3>
                        <p class="desc-desc-desc">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quisquam ratione et
                        </p>
                    </div>
                </div>
                <div class="deal-check">
                    <a href="#"><button class="btn">CHECK OUT NOW</button></a>
                </div>
            </div>
        </section>
        <section class="newsletter">
            <div class="nl-left">
                <h3>Newsletter</h3>
                <p>Sign up for newsletter to get cupons on our products</p>
            </div>
            <div class="nl-right">
                <form action="/index/newsletter" method="POST">
                    <input class="input-sign" type="text" placeholder="Your e-mail">
                    <button class="btn-red">SIGN UP!</button>
                </form>
            </div>
        </section>
    </main>