<% layout('layouts/boilerplate') %>

    <main id="item-main">
        <section class="sporter-img">
            <img src="/img/img-ph.png" alt="">
        </section>
        <section class="sporter-desc">
            <p class="p-cat">Women > Top > Sweaters</p>
            <p class="p-red">NEW IN STOCK</p>
            <h2>
                Item title
            </h2>
            <p class="sporter-desc-desc">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur odit odio in corrupti voluptas?
                Cupiditate distinctio quas laborum!
            </p>
            <p class="p-select">Avaiable colors</p>
            <div class="colors">
                <div class="c c-red"></div>
                <div class="c c-blue"></div>
                <div class="c c-green"></div>
                <div class="c c-yellow"></div>
                <div class="c c-pink"></div>
            </div>
            <p class="p-select">Avaiable variants</p>
            <div class="sizes">
                <div class="s">XS</div>
                <div class="s">S</div>
                <div class="s">M</div>
                <div class="s">L</div>
                <div class="s">XL</div>
            </div>
            <p class="p-help">Help in choosing the right one</p>
            <div class="item-total">
                <p class="p-total">$25</p>
                <button class="btn-total">Add to cart</button>
            </div>
        </section>
        <section class="related"></section>
    </main>