<footer>
    <section class="fo-left">
        <p><a href="/sign-up">Sign Up</a></p>
        <p><a href="/about">About</a></p>
        <p>© 2021 Krzysztof Białk</p>
        <p>Icons made by <a href="https://www.flaticon.com/authors/royyan-wijaya" title="Royyan Wijaya">Royyan
                Wijaya</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </p>
    </section>
    <section class="fo-right">
        <p><a href="/contact">Contact</a></p>
        <p><a href="/privacy">Privacy</a></p>
        <p><a href="/terms-and-conditions">Terms and Conditions</a></p>
    </section>
</footer>